{% extends 'base.html.twig' %}

{% block body %}
    <pre>
<article>
    <h1>Kurt Nilsen</h1>
    <h2>She is so high</h2>
    <p>
        She's blood, flesh, and bone. No tucks or silicone <br/>
She's touch, smell, sight, taste and sound <br/>
But somehow I can't believe that anything should happen <br/>
I know where I belong and nothing's gonna happen <br/>
Idź do diabła" - mówią ludzie pełni cnót
</p>
<p>
'Cause, She's so high, high above me <br/>
She's so lovely <br/>
She's so high, like Cleopatra, Joan of Ark or Aphrodite <br/>
Oo-oo-oo-oo <br/>
She's so high, high above me 
</p>
<p>
First class and fancy free, she's high society ,<br/>
She's got the best of everything <br/>
What could a guy like me ever really offer? <br/>
She's perfect as she can be, why should I even bother? <br/>
A-hah <br/>
</p>
</pre>
</article>
{% endblock %}
